<div class="row">
    <div class="col-xs-10">
        <app-shopping-edit></app-shopping-edit>
        <hr>
        <a class="list-group-item clearfix" style="cursor: pointer;"
         *ngFor = "let ingrediant of ingrediants; let i = index" 
         (click) = "onEditIngred(i)">
         {{ingrediant.name}} ({{ingrediant.amount}})
        </a>
        <div *ngIf = "ingrediants.length!=0">
        <hr>
        <button (click)="onPayment()" class="btn btn-primary">Pay using Paytm</button>
        </div>
    </div> 
</div>