<div class="row">
    <div class="col-xs-12">
        <form 
        (ngSubmit) = "onAddIngred(f)" 
        #f = "ngForm">
            <div class="row">
                <div class="col-sm-4 form-group">
                    <label>Name<input 
                        type="text" 
                        class="form-control" 
                        name="name" 
                        ngModel 
                        required 
                        placeholder="Ingrediant Name"></label>
                </div>
                <div class="col-sm-2 form-group">
                    <label>Amount<input 
                        type="number" 
                        class="form-control" 
                        name="amount" 
                        ngModel 
                        required 
                        [pattern] = "'^[1-9]+[0-9]*$'" 
                        placeholder="Quantity"></label>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <button 
                    type="submit" 
                    class="btn btn-success" 
                    [disabled] = "!f.valid">{{ editMode? 'Update': 'Add' }}</button>
                    <button 
                    type="button" 
                    class="btn btn-danger" 
                    (click) = "onIngredDelete()" 
                    *ngIf = "editMode">Delete</button>
                    <button 
                    type="button" 
                    class="btn btn-primary" 
                    (click) = "onClear()" >Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>