.navbar-right{
    position: absolute;
    top: 0px;
    right: 0px;
    margin-right: 30px;
    
}
.header-item{
    position: absolute;
    top: 0;
    left: 95px;
}
.user{
    font-size: 15px;
    padding: 14px;
}